input:invalid {
    background-color: rgb(243, 59, 59, 0.3);
}
input, button, select {
    padding: 6px ;
    border-radius: 5px;
}
input:valid {
    background-color: rgb(10, 206, 10, 0.3);
}
label {	
    width: 160px;
    display: inline-block;
}
select{ 
    vertical-align: middle;
}
span{
    vertical-align:bottom;
}