table {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    
}
td {
    border: 1px solid black;
  
}
.right {
    text-align: right;
}