body {
    background: url(img/space.jpg) no-repeat center center/cover fixed;
}

.blue {
    color: blue;
}

.citation {
    text-align: center;
}

.citation p {
    width: 300px;
}

.carousel img {
    width: 350px;
    height: 250px;
}

.carousel {
    width: 350px;
    height: 250px;
}

.carou {
    display: flex;
    justify-content: center;
    align-content: center;
}

.purple {
    color: blueviolet;
}

.cyan {
    color: cyan;
}